<div class="min-h-screen rounded-xl bg-surface-light-primary dark:bg-surface-dark-primary text-text-light-primary dark:text-text-dark-primary transition-colors duration-200 relative">
  <!-- Background Image with Overlay -->
 <!-- <div class="fixed-background">
    <img
      src="assets/img/background.webp"
      alt="Background Image"
      class="fixed-background-image"
    />
    <div class="overlay"></div>
  </div>-->

  <!-- Header -->
  <app-header class="relative z-10" />
  <app-sidebar class="relative z-10" />

  <!-- Main Content -->
  <div class="flex min-h-screen pt-10 relative z-5">
    <main class="flex-1 w-full md:ml-64 p-4 md:p-6">
      <div class="container mx-auto">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
